body {
    background-color: rgb(34, 2, 33);
    color: white;
}

h1, h3 {
    text-align: center;
}

#tablero {
    margin: auto;
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#tablero > button {
    width: 150px;
    height: 150px;
    border-color: rgb(203, 104, 207);
    font-size: 3em;
}

.resultado {
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
}

.resetear{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
